body {
  font-family: '', Verdana, Helvetica, sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

h1 {
  font-size: 50px;
  color: #555;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  /* border-bottom: 1px solid #999; */
  margin-bottom: 20px;
  /* text-align: center; */
}

h3 {
  text-align: center;
}

p {
  font-size: 16px;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.teaser img {
  /* height: 256px; */
  margin: auto;
  display: block;
}

.authors {
  color: #222;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 840px; /* or 950px */
}

.icons {
  text-align: center;
  margin:20px;
  margin-bottom:50px;
}

.myteaser {
  margin-top:50px;
  margin-bottom:50px;
  max-width: 100%;
}


#canvas {
  /* background-color: #000; */
  /* width: 640px; */
  height: 360px;
  width: 100%;
  max-height: 360px;
  max-width: 640px;

  /* border: 1px solid black; */
  /* margin: 10px; */
  padding: 0px;
  margin: auto;
  /* position: static;  */
  /* top: 10px; */
  /* left: 10px; */
  display: block;
}

path {
  stroke: gray;
  /* stroke-width: 0.01px; */
  fill: grey;
}

.youtube-video {
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
}

.adjustable{
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 640px;
  margin-bottom:50px;
}

.end{
  margin-top:150px;
}

.form-control{
  overflow-y:hidden;
  resize: none;
}

.gif_vis {
  text-align: center;
  margin:20px;
}
